.App {
  height: 100%;
  width: 100%;
}
.content {
  width: calc(100% - 40px);
  height: 30%;
  margin: 100px;
}

@media (min-width: 768px) {
  .content {
    height: 50%;
    width: calc(100% - 200px);
  }
}

