.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.content {
  width: 100%;
  height: 30%;
  margin: 20px;
}

@media (min-width: 1024px) {
  .content {
    height: 50%;
    width: calc(100% - 200px);
  }
}
